<div class="main-content page-m">
  <div class="section-content section-content-p30 e-spc">
    <div class="container-fluid">
      <div>
        <form class="col-md-9 mx-auto mt-4" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
          <div *ngIf="loggedCustomer != null">
            <app-dinamic-form [fields]="passwordForm" [title]="'Change password'" [parentForm]="formGroup" [formGroupName]="'passwordChange'"></app-dinamic-form>
          </div>
          <div class="form-row btn btn-info">
            <button type="submit" [disabled]="submitted">Change password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>