
aside {
  margin-top: 100px;
}
.menu-sidebar{
    width:200px;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    background:#aabdc4;
    overflow-y:auto;
    overflow-x: hidden;
}

.menu-sidebar-content{
    position:relative;
}

.navbar-sidebar{
    padding:35px 0;
}

.navbar-sidebar ul li {
  background: #fff;
  width: 180px;
  height: 40px;
  margin-left: -190px;
  line-height: 40px;
}

.navbar-sidebar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  align-content: flex-end;
}

.navbar-sidebar ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

.navbar-sidebar ul li a:hover{
    color:#0da8e4
}

@media screen and (max-width: 800px) {
    .menu-sidebar{
      position: absolute;
      transform: translateX(-200px);
      width: 0;
      height: 0;
      opacity: 0;
    }

    .menu-sidebar .open {
      transform: translateX(0);
      width:200px;
      height: 100%;
      opacity: 1;
    }
}
