<div [formGroup]="parentForm">
  <div formGroupName="{{formGroupName}}">
    <div class="row">
      <div class="col-md-2"><label>First name</label></div>
      <div class="col-md-9">
        <div class="input-space">
          <input [ngClass]="[
                    'form-control',
                    firstName?.invalid &&
                    (firstName?.touched || firstName?.dirty)
                      ? 'is-invalid'
                      : 'is-valid'
                  ]" formControlName="firstName" type="text" placeholder="First Name" />
          <div *ngIf="
                    firstName?.invalid &&
                    (firstName?.dirty || firstName?.touched)
                  ">
            <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyBlankSpaces']" class="invalid-feedback position-relative text-center">
              Please provide your first name.
            </div>
            <div *ngIf="firstName?.errors?.['minlength'] || firstName?.errors?.['maxlength']" class="invalid-feedback position-relative text-center">
              Please provide a valid first name, it should be at least 3
              chars min and 20 chars max.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"><label>Last name</label></div>
      <div class="col-md-9">
        <div class="input-space">
          <input [ngClass]="[
                    'form-control',
                    lastName?.invalid &&
                    (lastName?.touched || lastName?.dirty)
                      ? 'is-invalid'
                      : 'is-valid'
                  ]" formControlName="lastName" type="text" placeholder="Last Name" />
          <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
            <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyBlankSpaces']" class="invalid-feedback position-relative text-center">
              Please provide your last name.
            </div>
            <div *ngIf="lastName?.errors?.['minlength'] || lastName?.errors?.['maxlength']" class="invalid-feedback position-relative text-center">
              Please provide a valid last name, it should be at least 3
              chars min and 20 chars max.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"><label>Email</label></div>
      <div class="col-md-9">
        <div class="input-space">
          <input [ngClass]="['form-control', email?.invalid && (email?.touched || email?.dirty) ? 'is-invalid' : 'is-valid' ]" formControlName="email" type="text" placeholder="Email Address" />
          <div *ngIf="
                    email?.invalid &&
                    (email?.dirty || email?.touched)
                  ">
            <div *ngIf="email?.errors?.['required']" class="invalid-feedback position-relative text-center">
              Please provide your email.
            </div>
            <div *ngIf="email?.errors?.['pattern']" class="invalid-feedback position-relative text-center">
              Please provide a valid email address.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>