@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* You can add global styles to this file, and also import other style files */

 *{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

body{
  background: #e5e5e5!important;
    font-family:'Poppins' ,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.page-container{
    background:#e5e5e5;
    margin-left: 200px;
    padding-bottom: 100px;
}

.main-content{
    min-height:100vh
}

@media (max-width: 800px) {
  /* ng pagination */
  .page-item{
    display:none;
  }
  .page-item:nth-child(1), .page-item:nth-child(2) {
    display:block;
  }

  .page-item:last-child, .page-item:nth-last-child(2){
    display:block;
  }

  .page-container {
    margin-left:0;
  }
}

