.pill-container {
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 150px;
  justify-content: center;
  transform: rotate(90deg);
  transition-delay: 1s;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

.pill-left {
  background-color: #ffffff;
  border-top-left-radius: 999rem;
  border-bottom-left-radius: 999rem;
  border-right: 2px solid #1d1d1d;
  border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
  border-left: 1px solid #1d1d1d;
}

.pill-right {
  background: #3b4245;
  border-top-right-radius: 999rem;
  border-bottom-right-radius: 999rem;
  border-left: 2px solid #1d1d1d;
  border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
  border-right: 1px solid #1d1d1d;
}

.pill-left,
.pill-right {

  overflow: hidden;
  text-align: center;
  width: 20px;
  height: 40px;
  transition: all .7s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  color: #ffffff00;
}

.pill-container:hover i,
.pill-container:hover p {
  display: block;

}

.pill-container:hover, .pill-container .open {
  transform: rotate(0);
  transition: all .3s ease;
}

.pill-container:hover p {
  color: #1d1d1d;
  transform: translateX(0);
}

.pill-container:hover i {
  transform: translateX(18px);
}

.pill-left p,
.pill-right i {
  margin-top: 6px;
}

.pill-left p {
  position: absolute;
  padding: 0 15px;
  transform: translateX(-200px);
  transition: all 1s ease-in-out;
}

.pill-right i {
  position: absolute;
  transform: translateX(200px);
  transition: all 1s linear;
}

.pill-container:hover .pill-left,
.pill-container:hover .pill-right, .pill-container .open .pill-left, .pill-container .open .pill-right {
  color: #fff;
  width: 75px;
}

@media (max-width: 1300px) {
  .pill-container {
    display: none;
  }
}
