<div class="search">
  <span class="icon">
    <i
      (click)="toggleSearching()"
      [ngClass]="['bi', 'bi-search', searching ? 'hide' : '']"
    >
    </i>
  </span>
  <span class="icon">
    <i
      (click)="toggleSearching()"
      [ngClass]="['bi', 'bi-x-lg', searching ? '' : 'hide']"
    >
    </i>
  </span>
</div>
<div [ngClass]="['search-box', searching ? 'active' : '']">
  <input
    #searchBar
    type="text"
    name="search"
    class="search-input"
    placeholder="Search here . . ."
    (keyup.enter)="doSearch(searchBar.value)"
  />
</div>
