.form-area{
    background:#e5e5e5;
    position:relative;
    margin-bottom:45px;
    padding:50px 20px;
    border:3px solid #ccc
}
.form-area h3{
    position:absolute;
    top:-26px;
    background:#e5e5e5;
    padding: 10px 15px;
    font-weight:500;
    z-index:23;
    display:inline-block
}
