<div
  tabindex="0"
  (focusout)="blur()"
  [ngClass]="['account-section', userMenuOpen ? 'open' : '']"
>
  <div class="user-section-label" (click)="toggleOpen()">
    <i *ngIf="!isAuthenticated" class="bi bi-person-circle"></i>
    <img
      *ngIf="isAuthenticated && customer"
      src="{{ imageServerUrl + customer.image! }}"
      alt="Customer profile photo"
    />
  </div>
  <div class="user-menu">
    <a *ngIf="isAuthenticated && customer">{{
      customer.firstName + " " + customer.lastName
    }}</a>
    <a *ngIf="!isAuthenticated">Guest</a>
    <ul *ngIf="isAuthenticated" class="account-links">
      <li (click)="navigateToUrl('/customer/details')">
        Account <i class="bi bi-person-square"></i>
      </li>
      <li (click)="navigateToUrl('orders')">
        Orders <i class="bi bi-truck"></i>
      </li>
      <li (click)="navigateToUrl('/memberships')">
        Memberships <i class="bi bi-cash-coin"></i>
      </li>
      <li (click)="logout()">Logout <i class="bi bi-box-arrow-right"></i></li>
    </ul>
    <ul *ngIf="!isAuthenticated" class="account-links">
      <li (click)="navigateToUrl('/login', true)">
        Login <i class="bi bi-box-arrow-in-right"></i>
      </li>
      <li (click)="navigateToUrl('/customer/signup')">
        Register <i class="bi bi-person-plus-fill"></i>
      </li>
    </ul>
  </div>
</div>
