<header class="header-desktop">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="header-wrap">
        <app-search-form></app-search-form>
        <div class="cart-area d-n">
          <a href="shopping-detail.html">
									<div class="total">19.22 <span> 2</span> </div> <i style="font-size: 2.2rem; color: #fff;" class="bi bi-cart4 my-auto"
										aria-hidden="true"></i>
								</a>
        </div>
      </div>
      <div class="account-wrap"></div>
    </div>
  </div>
</header>