<div class="main-container">
  <div class="pagination-container">
    <div class="pagination-links-container">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="linksSize"
        [boundaryLinks]="true"
        [collectionSize]="totalRecords"
        (pageChange)="getProducts()"
      ></ngb-pagination>
      <pre><span class="float-md-left">Page: {{ page }} / {{ totalRecords / pageSize }}</span></pre>
    </div>
    <div class="page-size-selector">
      <select
        #pageSelector
        name="page size"
        title="Select the page size"
        (change)="setPageSize(pageSelector.value)"
      >
        <option value="5">5 Products</option>
        <option value="10">10 Products</option>
        <option value="20">20 Products</option>
        <option value="40">40 Products</option>
        <option value="50">50 Products</option>
      </select>
    </div>
  </div>
  <div class="products-container">
    <div *ngFor="let product of products" class="product-card">
      <div class="product-image">
        <a routerLink="/products/{{ product.id }}"
          ><img src="{{ imageServerUrl + product.image }}" alt="Product image"
        /></a>
      </div>
      <div class="product-name">
        <a routerLink="/products/{{ product.id }}"
          ><h3 class="text-truncate">{{ product.name }}</h3></a
        >
      </div>
      <div class="product-description">
        {{ product.description }}
      </div>
      <div class="card-footer">
        <div class="product-price">{{ product.price | currency : "USD" }}</div>
        <a (click)="addProductToCart(product)" class="cart-button"
          ><i class="bi bi-basket2"></i
        ></a>
      </div>
    </div>
  </div>
</div>
